body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

/* Tag rules */
a {
  text-decoration: none;
}
h1 {
  font-size: 56px;
  font-style: normal;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11111; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
button {
  cursor: pointer;
}
p {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Class rules */

/* Logo Web studio */
.top-line .logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.top-line .logo2 {
  color: #2e2f42;
}

/* Navigation */
.top-line .link-studio {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.link-portfolio {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.link-contacts {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.top-line .link-studio:hover {
  color: #404bbf;
}
.top-line .link-studio:active {
  color: #404bbf;
}

.top-line .link-portfolio:hover {
  color: #404bbf;
}
.top-line .link-contacts:hover {
  color: #404bbf;
}

/* Contact */
.adress {
  font-style: normal;
}

.adress .tel {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.adress .mail {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
address .mail:hover,
address .tel:hover {
  color: #404bbf;
}
address .mail:active,
address .tel:active {
  color: #404bbf;
}

/* Title */
.section-title {
  background-color: #2e2f42;
}
.section-title .title {
  color: #fff;
  text-align: center;
}
.section-title .button-to-serwis {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04px;
  border-radius: 4px;
  font-weight: 500;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section-title .button-to-serwis:hover {
  background: #404bbf;
}
.section-title .button-to-serwis:active {
  background: #404bbf;
}

/* Team */
.our-team {
  background-color: #f4f4fd;
}
.our-team .our-team-title {
  text-align: center;
}

/* Portfolio */
.our-portfolio .our-portfolio-title {
  text-align: center;
}

/* Foter */
.down-line {
  background-color: #2e2f42;
}
.down-line .logo {
  color: #4d5ae5;
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.down-line .logo2 {
  color: #f4f4fd;
}
.down-line .text-paragrapf {
  color: #f4f4fd;
}
